.passwordHead{
    font-size: 25px;
    margin-left: 20px;
    padding-top: 20px;
}

.submitbutton{
    border: 1px solid #0077c2;
    padding: 10px 20px;
    color: #ffff;
    background-color: #1A73E8;
}

.submitbutton:hover{
    background-color: #0D5EBD;
}

.subgrid{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

@media (max-width: 480px){
    .subgrid{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .submitbutton{
        padding: 10px 80px;
    }
}